/* pages/Home.css */
/* .home-container {
  padding: 20px;
}

.ant-card {
  border: 1px solid #2f4f4f !important;
  border-radius: 2px !important;
}

.ant-card-cover img {
  height: 150px;
  object-fit: cover;
} */
