.from-container {
  width: 300px;
  height: 100px;
}
.food-display-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
  margin-top: 30px;
  gap: 30px;
  row-gap: 50px;
}
.title {
  /* Text color for the title */
  background-color: #f0f0f0; /* Background color for the title */
  font-size: 18px;
  font-weight: bold;
  padding: 10px 15px; /* Padding for spacing inside the title */
  border-radius: 4px; /* Optional: add rounded corners */
  margin-bottom: 20px;
  text-align: center; /* Center-align the title */
}

.custom-button {
  background-color: red; /* New background color */
  color: white; /* Text color */
  font-size: 12px;
  padding: 4px 5px;
  border: none;
  border-radius: 4px;
  width: 50px;
  text-align: center;
  line-height: 1.5;
}

.custom-button:hover {
  background-color: #3a7bd5; /* Hover color */
}
.explore-menu button {
  width: 10%; /* Set width to 10% */
  background-color: red; /* Set background color to red */
  color: white; /* Text color white */
  border: none;
  padding: 10px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}
