/* Định dạng cho Modal */
.create-employee-modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 800px; /* Tăng kích thước chiều rộng cho form nhân viên */
    padding: 30px;
    background-color: white;
    border-radius: 15px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.create-employee-modal h2 {
    margin-top: 20px; 
    margin-bottom: 30px; 
    text-align: center; 
    font-size: 36px; 
    color: #333; 
}


.employee-form {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.image-section {
    flex: 1; /* Phần ảnh nhỏ hơn */
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.employee-image {
    width: 150px;
    height: 150px;
    border-radius: 8px; /* Góc bo tròn cho ảnh */
    object-fit: cover;
    margin-bottom: 15px;
}

.image-placeholder {
    width: 150px;
    height: 150px;
    background-color: #f0f0f0;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}

.file-upload-container {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    border: 2px dashed #007bff;
    border-radius: 5px;
    padding: 10px;
    background-color: #f8f9fa;
    cursor: pointer;
}

.custom-file-upload {
    cursor: pointer;
    color: #007bff;
    font-weight: bold;
}

.custom-file-upload:hover {
    text-decoration: underline;
}

.form-fields {
    flex: 2; /* Phần form chiếm nhiều không gian hơn */
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-left: 40px; /* Thêm khoảng cách giữa hình ảnh và form */
}

.form-group {
    display: flex;
    margin-bottom: 10px;
}

label {
    width: 150px; /* Chiều rộng cố định cho các nhãn */
    margin-right: 15px; /* Khoảng cách giữa nhãn và input */
    font-size: 16px;
    color: black;
    font-weight: bold;
}

input {
    flex: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
    width: 100%; /* Đặt chiều rộng input là 100% */
}

.add-button {
    width: 100%;
    padding: 12px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

.add-button:hover {
    background-color: #0056b3;
}

/* Nút đóng */
.close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: transparent;
    border: none;
    font-size: 20px;
    cursor: pointer;
    color: #666;
}

.close-button:hover {
    color: #000;
}

/* Định dạng cho lớp nền mờ */
.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(82, 81, 81, 0.5);
    backdrop-filter: blur(5px);
    z-index: 999;
}
