/* CSS cho CreateStaff */
.create-staff-container {
  width: 50%;
  height: 50%;
  margin: 0 auto;
  padding: 10px;
  background: rgba(255, 255, 255, 0.8); /* Nền mờ với độ trong suốt */
  backdrop-filter: blur(10px); /* Hiệu ứng mờ */
  border-radius: 10px; /* Bo góc */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Hiệu ứng đổ bóng */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.create-staff-container h2 {
  text-align: center;
  font-size: 24px;
  margin-bottom: 20px;
  color: #333; /* Màu chữ */
}
.form-item {
  width: 100%;
}
.submit-button {
  background-color: #1890ff; /* Màu nền button */
  border: none;
  color: #fff; /* Màu chữ */
  width: 100%; /* Button chiếm toàn chiều ngang */
  height: 40px; /* Chiều cao button */
  border-radius: 5px; /* Bo góc button */
  font-size: 16px;
  cursor: pointer;
}

.submit-button:hover {
  background-color: #40a9ff; /* Màu khi hover */
}
